policy_module(mq_creator, 1.0)

# This is an example policy to support the mq_creator
# it makes the assumption - perhaps falsely -  that
# libraries was installed without specifying DESTDIR.  
# that is directly on the system in /usr/lib

# declare the required types
type mq_creator_t;
domain_base_type(mq_creator_t)

type mq_creator_exec_t;
domain_entry_file(mq_creator_t,mq_creator_exec_t)

role system_r types mq_creator_t;

# general process terms (not related to message queues)
term_use_generic_ptys(mq_creator_t)
files_search_etc(mq_creator_t)
libs_use_ld_so(mq_creator_t)
libs_use_shared_libs(mq_creator_t)

# we are making the assumption you run this from your home directory
userdom_home_reader(mq_creator_t)


# mq_creator only needs a single message queue related permission
allow mq_creator_t self:msgq  { create enqueue };

unconfined_domtrans_to(mq_creator_t, mq_creator_exec_t)
