policy_module(mq_reader, 1.0)

# This is an example policy to support the mq_reader
# it makes the assumption - perhaps falsely -  that
# libraries was installed without specifying DESTDIR.  
# that is directly on the system in /usr/lib

# declare the required types
type mq_reader_t;
domain_base_type(mq_reader_t)

type mq_reader_exec_t;
domain_entry_file(mq_reader_t,mq_reader_exec_t)

role system_r types mq_reader_t;

# general process terms (not related to message queues)
term_use_generic_ptys(mq_reader_t)
files_search_etc(mq_reader_t)
libs_use_ld_so(mq_reader_t)
libs_use_shared_libs(mq_reader_t)

# we are making the assumption you run this from your home directory
userdom_read_unpriv_users_home_content_files(mq_reader_t)

# mq_reader can read messages from mq_creators queue
mq_creator_recv_msgs(mq_reader_t)


unconfined_domtrans_to(mq_reader_t, mq_reader_exec_t)
