## <summary>mq_sender example policy</summary>
## <desc>
## something
## </desc>
#

########################################
## <summary>
##      Transition from source domain to mq_sender.
## </summary>
## <param name="domain">
##      Domain allowed to transition.
## </param>
#
interface(`mq_sender_domtrans',`
        gen_require(`
                type mq_sender_t, mq_sender_exec_t;
        ')

        domain_auto_trans($1,mq_sender_exec_t,mq_sender_t)

        allow $1 mq_sender_t:fd use;
        allow mq_sender_t $1:fd use;
        allow $1 mq_sender_t:fifo_file rw_file_perms;
        allow $1 mq_sender_t:process sigchld;
')


