policy_module(shm_reader, 1.0)

# This is an example policy to support the shm_reader
# it makes the assumption - perhaps falsely -  that
# libraries was installed without specifying DESTDIR.  
# that is directly on the system in /usr/lib

# declare the required types
type shm_reader_t;
domain_base_type(shm_reader_t)

type shm_reader_exec_t;
domain_entry_file(shm_reader_t,shm_reader_exec_t)

role system_r types shm_reader_t;

# general process terms (not related to message queues)
term_use_generic_ptys(shm_reader_t)
files_search_etc(shm_reader_t)
libs_use_ld_so(shm_reader_t)
libs_use_shared_libs(shm_reader_t)

# we are making the assumption you run this from your home directory
userdom_home_reader(shm_reader_t)

# shm_reader can read messages from mq_creators queue
shm_creator_recv_msgs(shm_reader_t)
shm_sender_read_shm(shm_reader_t)

unconfined_domtrans_to(shm_reader_t, shm_reader_exec_t)
