policy_module(shm_destroyer, 1.0)

# This is an example policy to support the shm_destroyer
# it makes the assumption - perhaps falsely -  that
# libraries was installed without specifying DESTDIR.  
# that is directly on the system in /usr/lib

# declare the required types
type shm_destroyer_t;
domain_base_type(shm_destroyer_t)

type shm_destroyer_exec_t;
domain_entry_file(shm_destroyer_t,shm_destroyer_exec_t)

role system_r types shm_destroyer_t;

# general process terms (not related to message queues)
term_use_generic_ptys(shm_destroyer_t)
files_search_etc(shm_destroyer_t)
libs_use_ld_so(shm_destroyer_t)
libs_use_shared_libs(shm_destroyer_t)

# we are making the assumption you run this from your home directory
userdom_read_unpriv_users_home_content_files(shm_destroyer_t)


# shm_destroyer destroys mq_creators queue
shm_creator_destroy_mq(shm_destroyer_t)
shm_sender_destroy_shm(shm_destroyer_t)

unconfined_domtrans_to(shm_destroyer_t, shm_destroyer_exec_t)
